html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #1883a0;
}

