html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #131111;
}
.background-blue {
  background-color: rgb(14, 14, 15);
}
